<main class="user">

  <p class="message" ng-if="!$ctrl.payed">
    Please pay : {{$ctrl.total}} euro
  </p>

  <p class="message" ng-if="$ctrl.payed">
    Congrats you payed
  </p>

  <form name="myform" ng-if="!$ctrl.payed" novalidate>

    <p>
      <label for="firstname">Prénom</label>
      <input
        type="text"
        id="firstname"
        ng-model="$ctrl.user.firstname"
        ng-required="true"
      >
    </p>

    <p>
      <label for="lastname">Nom</label>
      <input
        type="text"
        id="lastname"
        ng-model="$ctrl.user.lastname"
        ng-required="true"
      >
    </p>

    <p>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        ng-model="$ctrl.user.email"
        ng-required="true"
      >
    </p>

    <p>
      <label for="creditcard">Credit Card no</label>
      <input
        type="text"
        id="creditcard"
        ng-model="$ctrl.user.creditcard"
        ng-required="true"
      >
    </p>

    <footer>
      <button ng-disabled="myform.$invalid" ng-click="$ctrl.checkout()">Pay, my friend !</button>
    </footer>

  </form>

</main>
